IIDX27pc(status="0")
  monthly_mranking(__type="u16" __count="1") 65535
  total_mranking(__type="u16" __count="1") 65535
  internet_ranking
  secret_ex_course
  kac_mid(__type="s32" __count="1") 65535
  kac_clid(__type="s32" __count="1") 0
  ir(beat="3")
  cm(compo="cm_ultimate" folder="cm_ultimate" id="0")
  tdj_cm
    cm(filename="cm_bn_001" id="0")
    cm(filename="cm_bn_002" id="1")
    cm(filename="event_bn_001" id="2")
    cm(filename="event_bn_004" id="3")
    cm(filename="event_bn_006" id="4")
    cm(filename="fipb_001" id="5")
    cm(filename="year_bn_004" id="6")
    cm(filename="year_bn_005" id="7")
    cm(filename="year_bn_006_2" id="8")
    cm(filename="year_bn_007" id="9")
  license
    string(__type="str") Asphyxia
  file_recovery(url="https://example.com")
  button_release_frame( frame="0")
  escape_package_info
    list(apply_file_name="XXX" apply_release_code="XXX")
  expert(phase="1")
  expert_random_secret(phase="2")
  boss(phase="0")
  vip_pass_black
  deller_bonus(open="1")
  newsong_another(open="1")
  pcb_check(flg="0")
  expert_secret_full_open
  eaorder_phase(phase="2")
  common_evnet(flg="65535")
  system_voice_phase(phase="0")
  extra_boss_event(phase="0")
  event1_phase(phase="0")
  premium_area_news(open="1")
  premium_area_qpro(open="1")
  ignore_button_mashing