//-
  crateはSPクリアレート5つ(Begginer～Leddendaria)DPクリアレート5つ
  SPフルコンボレート5つDPフルコンボレート5つの20項目で表されます
  クリアレートはMax1000(100%)で小数点第一位まで設定できます

  書式例
  <c __type="s32" __count="20" mid=曲番号>Numbers</c>

  今回は12のみレートを実装します
  レートはCPI難易度表(2020/10/20)を参考にしています
  https://cpi.makecir.com/scores/tables#clear
  https://cpi.makecir.com/scores/tables#hard
  2250-曲レートをレートとして表示しています
  クリアレートがノマゲレートでフルコンボレートがハードクリアレートになっています

#{version}(status="0")
  c(__type="s32" __count="20" mid="5021") -1 -1 -1 793 -1 -1 -1 -1 -1 -1 -1 -1 -1 746 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="6005") -1 -1 -1 799 -1 -1 -1 -1 -1 -1 -1 -1 -1 718 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="7002") -1 -1 -1 905 -1 -1 -1 -1 -1 -1 -1 -1 -1 811 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="8031") -1 -1 -1 715 -1 -1 -1 -1 -1 -1 -1 -1 -1 698 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="8048") -1 -1 -1 736 -1 -1 -1 -1 -1 -1 -1 -1 -1 661 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="9012") -1 -1 -1 799 -1 -1 -1 -1 -1 -1 -1 -1 -1 749 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="9038") -1 -1 -1 828 -1 -1 -1 -1 -1 -1 -1 -1 -1 736 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="10022") -1 -1 -1 845 -1 -1 -1 -1 -1 -1 -1 -1 -1 788 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="10028") -1 -1 838 802 -1 -1 -1 -1 -1 -1 -1 -1 702 690 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="10049") -1 -1 -1 698 -1 -1 -1 -1 -1 -1 -1 -1 -1 692 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="11012") -1 -1 -1 -1 738 -1 -1 -1 -1 -1 -1 -1 -1 -1 720 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="11026") -1 -1 -1 603 -1 -1 -1 -1 -1 -1 -1 -1 -1 581 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="11030") -1 -1 -1 682 -1 -1 -1 -1 -1 -1 -1 -1 -1 672 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="11032") -1 -1 -1 -1 834 -1 -1 -1 -1 -1 -1 -1 -1 -1 769 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="11037") -1 -1 899 817 -1 -1 -1 -1 -1 -1 -1 -1 880 803 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="11040") -1 -1 -1 829 -1 -1 -1 -1 -1 -1 -1 -1 -1 767 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="12002") -1 -1 -1 -1 688 -1 -1 -1 -1 -1 -1 -1 -1 -1 672 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="12004") -1 -1 -1 594 -1 -1 -1 -1 -1 -1 -1 -1 -1 231 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="12007") -1 -1 -1 665 -1 -1 -1 -1 -1 -1 -1 -1 -1 550 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="12016") -1 -1 -1 -1 632 -1 -1 -1 -1 -1 -1 -1 -1 -1 603 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="12045") -1 -1 -1 807 -1 -1 -1 -1 -1 -1 -1 -1 -1 750 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="12054") -1 -1 -1 755 -1 -1 -1 -1 -1 -1 -1 -1 -1 685 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="13005") -1 -1 -1 531 -1 -1 -1 -1 -1 -1 -1 -1 -1 516 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="13010") -1 -1 -1 -1 546 -1 -1 -1 -1 -1 -1 -1 -1 -1 542 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="13031") -1 -1 -1 691 -1 -1 -1 -1 -1 -1 -1 -1 -1 645 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="13038") -1 -1 -1 -1 592 -1 -1 -1 -1 -1 -1 -1 -1 -1 585 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="13054") -1 -1 -1 806 -1 -1 -1 -1 -1 -1 -1 -1 -1 715 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="13055") -1 -1 -1 814 -1 -1 -1 -1 -1 -1 -1 -1 -1 791 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="14004") -1 -1 -1 -1 425 -1 -1 -1 -1 -1 -1 -1 -1 -1 408 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="14005") -1 -1 -1 726 -1 -1 -1 -1 -1 -1 -1 -1 -1 711 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="14009") -1 -1 -1 830 484 -1 -1 -1 -1 -1 -1 -1 -1 757 453 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="14021") -1 -1 -1 845 -1 -1 -1 -1 -1 -1 -1 -1 -1 762 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="14022") -1 -1 -1 -1 811 -1 -1 -1 -1 -1 -1 -1 -1 -1 737 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="14029") -1 -1 -1 777 -1 -1 -1 -1 -1 -1 -1 -1 -1 720 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="14030") -1 -1 -1 802 -1 -1 -1 -1 -1 -1 -1 -1 -1 753 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="14035") -1 -1 -1 692 -1 -1 -1 -1 -1 -1 -1 -1 -1 659 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="14046") -1 -1 -1 -1 348 -1 -1 -1 -1 -1 -1 -1 -1 -1 328 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="14052") -1 -1 -1 627 -1 -1 -1 -1 -1 -1 -1 -1 -1 410 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="14053") -1 -1 -1 -1 880 -1 -1 -1 -1 -1 -1 -1 -1 -1 835 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="15001") -1 -1 -1 622 -1 -1 -1 -1 -1 -1 -1 -1 -1 586 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="15004") -1 -1 -1 -1 610 -1 -1 -1 -1 -1 -1 -1 -1 -1 598 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="15007") -1 -1 -1 -1 680 -1 -1 -1 -1 -1 -1 -1 -1 -1 652 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="15013") -1 -1 -1 769 -1 -1 -1 -1 -1 -1 -1 -1 -1 722 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="15014") -1 -1 -1 900 -1 -1 -1 -1 -1 -1 -1 -1 -1 820 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="15016") -1 -1 -1 795 -1 -1 -1 -1 -1 -1 -1 -1 -1 760 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="15023") -1 -1 -1 782 335 -1 -1 -1 -1 -1 -1 -1 -1 652 34 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="15039") -1 -1 -1 763 -1 -1 -1 -1 -1 -1 -1 -1 -1 703 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="15049") -1 -1 -1 587 -1 -1 -1 -1 -1 -1 -1 -1 -1 529 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="15061") -1 -1 -1 -1 665 -1 -1 -1 -1 -1 -1 -1 -1 -1 628 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="16002") -1 -1 -1 -1 559 -1 -1 -1 -1 -1 -1 -1 -1 -1 537 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="16003") -1 -1 -1 715 -1 -1 -1 -1 -1 -1 -1 -1 -1 666 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="16006") -1 -1 -1 703 -1 -1 -1 -1 -1 -1 -1 -1 -1 684 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="16009") -1 -1 -1 702 -1 -1 -1 -1 -1 -1 -1 -1 -1 671 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="16015") -1 -1 -1 -1 757 -1 -1 -1 -1 -1 -1 -1 -1 -1 707 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="16020") -1 -1 -1 349 -1 -1 -1 -1 -1 -1 -1 -1 -1 275 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="16026") -1 -1 -1 567 -1 -1 -1 -1 -1 -1 -1 -1 -1 406 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="16028") -1 -1 -1 542 -1 -1 -1 -1 -1 -1 -1 -1 -1 399 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="16045") -1 -1 -1 -1 678 -1 -1 -1 -1 -1 -1 -1 -1 -1 631 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="16051") -1 -1 -1 739 -1 -1 -1 -1 -1 -1 -1 -1 -1 414 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="17006") -1 -1 -1 644 -1 -1 -1 -1 -1 -1 -1 -1 -1 629 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="17007") -1 -1 -1 748 -1 -1 -1 -1 -1 -1 -1 -1 -1 665 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="17009") -1 -1 -1 646 -1 -1 -1 -1 -1 -1 -1 -1 -1 637 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="17016") -1 -1 -1 581 -1 -1 -1 -1 -1 -1 -1 -1 -1 526 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="17017") -1 -1 -1 756 -1 -1 -1 -1 -1 -1 -1 -1 -1 674 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="17022") -1 -1 -1 644 -1 -1 -1 -1 -1 -1 -1 -1 -1 609 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="17028") -1 -1 -1 -1 589 -1 -1 -1 -1 -1 -1 -1 -1 -1 580 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="17032") -1 -1 -1 729 -1 -1 -1 -1 -1 -1 -1 -1 -1 623 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="17044") -1 -1 -1 850 -1 -1 -1 -1 -1 -1 -1 -1 -1 778 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="17054") -1 -1 -1 733 -1 -1 -1 -1 -1 -1 -1 -1 -1 696 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="17056") -1 -1 -1 727 -1 -1 -1 -1 -1 -1 -1 -1 -1 672 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="17059") -1 -1 -1 627 -1 -1 -1 -1 -1 -1 -1 -1 -1 610 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="17060") -1 -1 -1 798 608 -1 -1 -1 -1 -1 -1 -1 -1 728 587 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="17061") -1 -1 -1 757 -1 -1 -1 -1 -1 -1 -1 -1 -1 712 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="18001") -1 -1 -1 732 -1 -1 -1 -1 -1 -1 -1 -1 -1 637 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="18004") -1 -1 -1 483 -1 -1 -1 -1 -1 -1 -1 -1 -1 477 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="18007") -1 -1 -1 698 -1 -1 -1 -1 -1 -1 -1 -1 -1 663 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="18009") -1 -1 -1 576 -1 -1 -1 -1 -1 -1 -1 -1 -1 559 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="18017") -1 -1 -1 686 -1 -1 -1 -1 -1 -1 -1 -1 -1 655 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="18026") -1 -1 -1 627 -1 -1 -1 -1 -1 -1 -1 -1 -1 611 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="18032") -1 -1 -1 414 -1 -1 -1 -1 -1 -1 -1 -1 -1 305 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="18039") -1 -1 -1 684 -1 -1 -1 -1 -1 -1 -1 -1 -1 632 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="18050") -1 -1 -1 680 -1 -1 -1 -1 -1 -1 -1 -1 -1 595 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="18059") -1 -1 -1 780 -1 -1 -1 -1 -1 -1 -1 -1 -1 734 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="18060") -1 -1 -1 853 -1 -1 -1 -1 -1 -1 -1 -1 -1 785 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="18061") -1 -1 -1 936 -1 -1 -1 -1 -1 -1 -1 -1 -1 833 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="18068") -1 -1 -1 810 -1 -1 -1 -1 -1 -1 -1 -1 -1 757 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="18071") -1 -1 -1 983 -1 -1 -1 -1 -1 -1 -1 -1 -1 861 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="19001") -1 -1 -1 665 -1 -1 -1 -1 -1 -1 -1 -1 -1 576 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="19002") -1 -1 -1 625 -1 -1 -1 -1 -1 -1 -1 -1 -1 594 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="19003") -1 -1 -1 853 -1 -1 -1 -1 -1 -1 -1 -1 -1 793 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="19005") -1 -1 -1 813 -1 -1 -1 -1 -1 -1 -1 -1 -1 749 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="19007") -1 -1 -1 644 -1 -1 -1 -1 -1 -1 -1 -1 -1 621 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="19008") -1 -1 -1 430 -1 -1 -1 -1 -1 -1 -1 -1 -1 415 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="19016") -1 -1 -1 866 -1 -1 -1 -1 -1 -1 -1 -1 -1 778 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="19026") -1 -1 -1 855 -1 -1 -1 -1 -1 -1 -1 -1 -1 786 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="19028") -1 -1 -1 794 -1 -1 -1 -1 -1 -1 -1 -1 -1 735 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="19030") -1 -1 -1 781 -1 -1 -1 -1 -1 -1 -1 -1 -1 730 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="19033") -1 -1 -1 678 -1 -1 -1 -1 -1 -1 -1 -1 -1 657 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="19037") -1 -1 -1 591 -1 -1 -1 -1 -1 -1 -1 -1 -1 528 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="19042") -1 -1 -1 712 -1 -1 -1 -1 -1 -1 -1 -1 -1 631 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="19063") -1 -1 -1 -1 660 -1 -1 -1 -1 -1 -1 -1 -1 -1 637 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="19064") -1 -1 -1 768 -1 -1 -1 -1 -1 -1 -1 -1 -1 688 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="19065") -1 -1 -1 692 -1 -1 -1 -1 -1 -1 -1 -1 -1 631 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="19068") -1 -1 -1 749 -1 -1 -1 -1 -1 -1 -1 -1 -1 715 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="19071") -1 -1 -1 667 -1 -1 -1 -1 -1 -1 -1 -1 -1 654 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="19074") -1 -1 -1 -1 485 -1 -1 -1 -1 -1 -1 -1 -1 -1 437 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="19075") -1 -1 -1 622 -1 -1 -1 -1 -1 -1 -1 -1 -1 604 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="20002") -1 -1 -1 783 -1 -1 -1 -1 -1 -1 -1 -1 -1 722 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="20003") -1 -1 -1 883 -1 -1 -1 -1 -1 -1 -1 -1 -1 825 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="20004") -1 -1 -1 771 -1 -1 -1 -1 -1 -1 -1 -1 -1 714 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="20006") -1 -1 -1 739 -1 -1 -1 -1 -1 -1 -1 -1 -1 693 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="20007") -1 -1 -1 647 -1 -1 -1 -1 -1 -1 -1 -1 -1 603 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="20008") -1 -1 -1 488 -1 -1 -1 -1 -1 -1 -1 -1 -1 472 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="20012") -1 -1 -1 707 -1 -1 -1 -1 -1 -1 -1 -1 -1 672 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="20019") -1 -1 -1 -1 682 -1 -1 -1 -1 -1 -1 -1 -1 -1 660 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="20020") -1 -1 -1 471 -1 -1 -1 -1 -1 -1 -1 -1 -1 453 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="20029") -1 -1 -1 525 -1 -1 -1 -1 -1 -1 -1 -1 -1 401 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="20038") -1 -1 -1 398 -1 -1 -1 -1 -1 -1 -1 -1 -1 393 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="20039") -1 -1 -1 -1 645 -1 -1 -1 -1 -1 -1 -1 -1 -1 640 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="20041") -1 -1 -1 677 -1 -1 -1 -1 -1 -1 -1 -1 -1 664 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="20043") -1 -1 -1 491 -1 -1 -1 -1 -1 -1 -1 -1 -1 441 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="20047") -1 -1 -1 660 -1 -1 -1 -1 -1 -1 -1 -1 -1 615 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="20048") -1 -1 -1 849 -1 -1 -1 -1 -1 -1 -1 -1 -1 783 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="20049") -1 -1 -1 679 -1 -1 -1 -1 -1 -1 -1 -1 -1 652 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="20051") -1 -1 -1 708 -1 -1 -1 -1 -1 -1 -1 -1 -1 674 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="20054") -1 -1 -1 784 -1 -1 -1 -1 -1 -1 -1 -1 -1 727 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="20058") -1 -1 -1 776 -1 -1 -1 -1 -1 -1 -1 -1 -1 746 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="20062") -1 -1 -1 626 -1 -1 -1 -1 -1 -1 -1 -1 -1 603 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="20063") -1 -1 -1 678 -1 -1 -1 -1 -1 -1 -1 -1 -1 627 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="20067") -1 -1 -1 667 -1 -1 -1 -1 -1 -1 -1 -1 -1 619 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="20070") -1 -1 -1 636 -1 -1 -1 -1 -1 -1 -1 -1 -1 548 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="20071") -1 -1 -1 614 -1 -1 -1 -1 -1 -1 -1 -1 -1 536 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="20073") -1 -1 -1 646 -1 -1 -1 -1 -1 -1 -1 -1 -1 613 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="20074") -1 -1 -1 666 -1 -1 -1 -1 -1 -1 -1 -1 -1 648 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="20083") -1 -1 -1 686 -1 -1 -1 -1 -1 -1 -1 -1 -1 661 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="20093") -1 -1 -1 782 -1 -1 -1 -1 -1 -1 -1 -1 -1 726 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="20094") -1 -1 -1 587 -1 -1 -1 -1 -1 -1 -1 -1 -1 581 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="20097") -1 -1 -1 723 -1 -1 -1 -1 -1 -1 -1 -1 -1 670 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="20099") -1 -1 -1 549 -1 -1 -1 -1 -1 -1 -1 -1 -1 516 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="20101") -1 -1 -1 746 -1 -1 -1 -1 -1 -1 -1 -1 -1 701 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="21002") -1 -1 -1 754 -1 -1 -1 -1 -1 -1 -1 -1 -1 706 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="21005") -1 -1 -1 745 -1 -1 -1 -1 -1 -1 -1 -1 -1 683 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="21012") -1 -1 -1 741 607 -1 -1 -1 -1 -1 -1 -1 -1 685 574 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="21019") -1 -1 -1 766 -1 -1 -1 -1 -1 -1 -1 -1 -1 734 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="21029") -1 -1 -1 -1 655 -1 -1 -1 -1 -1 -1 -1 -1 -1 609 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="21032") -1 -1 -1 546 -1 -1 -1 -1 -1 -1 -1 -1 -1 499 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="21033") -1 -1 -1 654 -1 -1 -1 -1 -1 -1 -1 -1 -1 611 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="21044") -1 -1 -1 671 -1 -1 -1 -1 -1 -1 -1 -1 -1 623 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="21045") -1 -1 -1 721 -1 -1 -1 -1 -1 -1 -1 -1 -1 683 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="21047") -1 -1 -1 654 -1 -1 -1 -1 -1 -1 -1 -1 -1 611 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="21048") -1 -1 -1 719 314 -1 -1 -1 -1 -1 -1 -1 -1 681 304 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="21050") -1 -1 -1 632 372 -1 -1 -1 -1 -1 -1 -1 -1 572 309 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="21052") -1 -1 -1 786 570 -1 -1 -1 -1 -1 -1 -1 -1 730 431 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="21055") -1 -1 -1 777 -1 -1 -1 -1 -1 -1 -1 -1 -1 714 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="21059") -1 -1 -1 526 404 -1 -1 -1 -1 -1 -1 -1 -1 519 399 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="21062") -1 -1 -1 613 -1 -1 -1 -1 -1 -1 -1 -1 -1 544 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="21069") -1 -1 -1 774 570 -1 -1 -1 -1 -1 -1 -1 -1 736 556 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="21073") -1 -1 -1 874 579 -1 -1 -1 -1 -1 -1 -1 -1 792 570 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="21076") -1 -1 -1 772 -1 -1 -1 -1 -1 -1 -1 -1 -1 713 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="21081") -1 -1 -1 701 -1 -1 -1 -1 -1 -1 -1 -1 -1 639 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="21082") -1 -1 -1 489 -1 -1 -1 -1 -1 -1 -1 -1 -1 479 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="21088") -1 -1 -1 758 -1 -1 -1 -1 -1 -1 -1 -1 -1 705 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="21089") -1 -1 -1 597 429 -1 -1 -1 -1 -1 -1 -1 -1 565 410 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="22001") -1 -1 -1 697 -1 -1 -1 -1 -1 -1 -1 -1 -1 684 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="22003") -1 -1 -1 692 -1 -1 -1 -1 -1 -1 -1 -1 -1 559 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="22004") -1 -1 -1 662 -1 -1 -1 -1 -1 -1 -1 -1 -1 653 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="22005") -1 -1 -1 771 -1 -1 -1 -1 -1 -1 -1 -1 -1 703 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="22006") -1 -1 -1 -1 691 -1 -1 -1 -1 -1 -1 -1 -1 -1 661 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="22007") -1 -1 -1 600 -1 -1 -1 -1 -1 -1 -1 -1 -1 565 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="22008") -1 -1 -1 -1 553 -1 -1 -1 -1 -1 -1 -1 -1 -1 539 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="22009") -1 -1 -1 832 -1 -1 -1 -1 -1 -1 -1 -1 -1 756 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="22011") -1 -1 -1 724 -1 -1 -1 -1 -1 -1 -1 -1 -1 649 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="22012") -1 -1 -1 552 -1 -1 -1 -1 -1 -1 -1 -1 -1 523 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="22015") -1 -1 -1 623 -1 -1 -1 -1 -1 -1 -1 -1 -1 604 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="22016") -1 -1 -1 686 -1 -1 -1 -1 -1 -1 -1 -1 -1 624 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="22017") -1 -1 -1 885 -1 -1 -1 -1 -1 -1 -1 -1 -1 798 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="22018") -1 -1 -1 747 -1 -1 -1 -1 -1 -1 -1 -1 -1 670 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="22027") -1 -1 -1 -1 771 -1 -1 -1 -1 -1 -1 -1 -1 -1 724 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="22031") -1 -1 -1 -1 569 -1 -1 -1 -1 -1 -1 -1 -1 -1 551 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="22032") -1 -1 -1 708 -1 -1 -1 -1 -1 -1 -1 -1 -1 671 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="22033") -1 -1 -1 713 -1 -1 -1 -1 -1 -1 -1 -1 -1 659 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="22038") -1 -1 -1 889 -1 -1 -1 -1 -1 -1 -1 -1 -1 799 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="22039") -1 -1 -1 663 -1 -1 -1 -1 -1 -1 -1 -1 -1 576 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="22043") -1 -1 -1 679 -1 -1 -1 -1 -1 -1 -1 -1 -1 642 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="22053") -1 -1 -1 751 -1 -1 -1 -1 -1 -1 -1 -1 -1 708 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="22054") -1 -1 -1 466 -1 -1 -1 -1 -1 -1 -1 -1 -1 438 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="22055") -1 -1 -1 800 -1 -1 -1 -1 -1 -1 -1 -1 -1 749 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="22065") -1 -1 -1 719 -1 -1 -1 -1 -1 -1 -1 -1 -1 693 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="22069") -1 -1 -1 767 -1 -1 -1 -1 -1 -1 -1 -1 -1 709 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="22070") -1 -1 -1 647 -1 -1 -1 -1 -1 -1 -1 -1 -1 621 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="22073") -1 -1 -1 662 -1 -1 -1 -1 -1 -1 -1 -1 -1 621 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="22074") -1 -1 -1 672 -1 -1 -1 -1 -1 -1 -1 -1 -1 640 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="22077") -1 -1 -1 760 -1 -1 -1 -1 -1 -1 -1 -1 -1 732 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="22079") -1 -1 -1 804 -1 -1 -1 -1 -1 -1 -1 -1 -1 755 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="22080") -1 -1 -1 720 -1 -1 -1 -1 -1 -1 -1 -1 -1 660 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="22083") -1 -1 -1 907 530 -1 -1 -1 -1 -1 -1 -1 -1 858 525 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="22087") -1 -1 -1 756 -1 -1 -1 -1 -1 -1 -1 -1 -1 708 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="22089") -1 -1 -1 715 507 -1 -1 -1 -1 -1 -1 -1 -1 656 469 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="22091") -1 -1 -1 744 -1 -1 -1 -1 -1 -1 -1 -1 -1 706 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="22093") -1 -1 -1 683 -1 -1 -1 -1 -1 -1 -1 -1 -1 638 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="22095") -1 -1 -1 735 -1 -1 -1 -1 -1 -1 -1 -1 -1 686 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="22099") -1 -1 -1 712 -1 -1 -1 -1 -1 -1 -1 -1 -1 646 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="23000") -1 -1 -1 642 -1 -1 -1 -1 -1 -1 -1 -1 -1 560 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="23001") -1 -1 -1 497 -1 -1 -1 -1 -1 -1 -1 -1 -1 477 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="23005") -1 -1 -1 747 -1 -1 -1 -1 -1 -1 -1 -1 -1 710 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="23007") -1 -1 -1 830 -1 -1 -1 -1 -1 -1 -1 -1 -1 760 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="23009") -1 -1 -1 762 -1 -1 -1 -1 -1 -1 -1 -1 -1 719 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="23013") -1 -1 -1 707 -1 -1 -1 -1 -1 -1 -1 -1 -1 684 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="23018") -1 -1 -1 677 -1 -1 -1 -1 -1 -1 -1 -1 -1 626 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="23027") -1 -1 -1 627 -1 -1 -1 -1 -1 -1 -1 -1 -1 560 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="23031") -1 -1 -1 -1 664 -1 -1 -1 -1 -1 -1 -1 -1 -1 641 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="23037") -1 -1 -1 701 -1 -1 -1 -1 -1 -1 -1 -1 -1 666 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="23041") -1 -1 -1 571 -1 -1 -1 -1 -1 -1 -1 -1 -1 535 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="23045") -1 -1 -1 760 -1 -1 -1 -1 -1 -1 -1 -1 -1 721 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="23051") -1 -1 -1 296 -1 -1 -1 -1 -1 -1 -1 -1 -1 253 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="23055") -1 -1 -1 682 -1 -1 -1 -1 -1 -1 -1 -1 -1 622 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="23061") -1 -1 -1 612 -1 -1 -1 -1 -1 -1 -1 -1 -1 601 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="23063") -1 -1 -1 565 -1 -1 -1 -1 -1 -1 -1 -1 -1 560 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="23070") -1 -1 -1 -1 662 -1 -1 -1 -1 -1 -1 -1 -1 -1 632 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="23072") -1 -1 -1 722 -1 -1 -1 -1 -1 -1 -1 -1 -1 652 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="23074") -1 -1 -1 791 -1 -1 -1 -1 -1 -1 -1 -1 -1 670 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="23075") -1 -1 -1 712 -1 -1 -1 -1 -1 -1 -1 -1 -1 641 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="23079") -1 -1 -1 891 -1 -1 -1 -1 -1 -1 -1 -1 -1 772 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="23083") -1 -1 -1 884 -1 -1 -1 -1 -1 -1 -1 -1 -1 774 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="23085") -1 -1 -1 696 -1 -1 -1 -1 -1 -1 -1 -1 -1 661 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="23088") -1 -1 -1 575 -1 -1 -1 -1 -1 -1 -1 -1 -1 546 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="23090") -1 -1 -1 664 -1 -1 -1 -1 -1 -1 -1 -1 -1 628 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="23092") -1 -1 -1 665 -1 -1 -1 -1 -1 -1 -1 -1 -1 636 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="23094") -1 -1 -1 645 -1 -1 -1 -1 -1 -1 -1 -1 -1 609 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="23095") -1 -1 -1 -1 595 -1 -1 -1 -1 -1 -1 -1 -1 -1 582 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="24001") -1 -1 -1 513 -1 -1 -1 -1 -1 -1 -1 -1 -1 502 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="24003") -1 -1 -1 758 -1 -1 -1 -1 -1 -1 -1 -1 -1 694 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="24005") -1 -1 -1 733 -1 -1 -1 -1 -1 -1 -1 -1 -1 697 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="24006") -1 -1 -1 826 -1 -1 -1 -1 -1 -1 -1 -1 -1 756 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="24007") -1 -1 -1 775 -1 -1 -1 -1 -1 -1 -1 -1 -1 690 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="24010") -1 -1 -1 235 -1 -1 -1 -1 -1 -1 -1 -1 -1 231 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="24012") -1 -1 -1 759 -1 -1 -1 -1 -1 -1 -1 -1 -1 695 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="24014") -1 -1 -1 667 -1 -1 -1 -1 -1 -1 -1 -1 -1 629 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="24018") -1 -1 -1 629 -1 -1 -1 -1 -1 -1 -1 -1 -1 603 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="24020") -1 -1 -1 565 -1 -1 -1 -1 -1 -1 -1 -1 -1 527 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="24021") -1 -1 -1 595 -1 -1 -1 -1 -1 -1 -1 -1 -1 584 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="24023") -1 -1 -1 734 -1 -1 -1 -1 -1 -1 -1 -1 -1 657 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="24024") -1 -1 -1 756 -1 -1 -1 -1 -1 -1 -1 -1 -1 690 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="24034") -1 -1 -1 415 -1 -1 -1 -1 -1 -1 -1 -1 -1 346 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="24036") -1 -1 -1 750 -1 -1 -1 -1 -1 -1 -1 -1 -1 712 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="24039") -1 -1 -1 919 -1 -1 -1 -1 -1 -1 -1 -1 -1 817 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="24041") -1 -1 -1 -1 707 -1 -1 -1 -1 -1 -1 -1 -1 -1 659 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="24044") -1 -1 -1 741 -1 -1 -1 -1 -1 -1 -1 -1 -1 700 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="24050") -1 -1 -1 569 -1 -1 -1 -1 -1 -1 -1 -1 -1 530 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="24051") -1 -1 -1 645 -1 -1 -1 -1 -1 -1 -1 -1 -1 632 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="24065") -1 -1 -1 692 -1 -1 -1 -1 -1 -1 -1 -1 -1 657 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="24070") -1 -1 -1 791 -1 -1 -1 -1 -1 -1 -1 -1 -1 735 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="24072") -1 -1 -1 677 -1 -1 -1 -1 -1 -1 -1 -1 -1 658 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="24073") -1 -1 -1 659 -1 -1 -1 -1 -1 -1 -1 -1 -1 631 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="24076") -1 -1 -1 742 -1 -1 -1 -1 -1 -1 -1 -1 -1 716 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="24077") -1 -1 -1 806 -1 -1 -1 -1 -1 -1 -1 -1 -1 759 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="24078") -1 -1 -1 833 -1 -1 -1 -1 -1 -1 -1 -1 -1 743 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="24086") -1 -1 -1 819 -1 -1 -1 -1 -1 -1 -1 -1 -1 746 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="24089") -1 -1 -1 838 -1 -1 -1 -1 -1 -1 -1 -1 -1 779 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="24094") -1 -1 -1 737 -1 -1 -1 -1 -1 -1 -1 -1 -1 709 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="24095") -1 -1 -1 872 -1 -1 -1 -1 -1 -1 -1 -1 -1 806 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="25000") -1 -1 -1 689 -1 -1 -1 -1 -1 -1 -1 -1 -1 659 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="25003") -1 -1 -1 572 -1 -1 -1 -1 -1 -1 -1 -1 -1 523 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="25004") -1 -1 -1 587 -1 -1 -1 -1 -1 -1 -1 -1 -1 544 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="25007") -1 -1 -1 468 -1 -1 -1 -1 -1 -1 -1 -1 -1 407 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="25008") -1 -1 -1 655 -1 -1 -1 -1 -1 -1 -1 -1 -1 627 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="25009") -1 -1 -1 700 -1 -1 -1 -1 -1 -1 -1 -1 -1 669 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="25015") -1 -1 -1 601 -1 -1 -1 -1 -1 -1 -1 -1 -1 586 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="25017") -1 -1 -1 568 -1 -1 -1 -1 -1 -1 -1 -1 -1 536 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="25019") -1 -1 -1 693 -1 -1 -1 -1 -1 -1 -1 -1 -1 626 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="25021") -1 -1 -1 624 -1 -1 -1 -1 -1 -1 -1 -1 -1 582 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="25025") -1 -1 -1 687 -1 -1 -1 -1 -1 -1 -1 -1 -1 640 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="25027") -1 -1 -1 619 -1 -1 -1 -1 -1 -1 -1 -1 -1 567 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="25029") -1 -1 -1 636 -1 -1 -1 -1 -1 -1 -1 -1 -1 612 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="25040") -1 -1 -1 654 -1 -1 -1 -1 -1 -1 -1 -1 -1 629 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="25049") -1 -1 -1 667 -1 -1 -1 -1 -1 -1 -1 -1 -1 639 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="25052") -1 -1 -1 783 -1 -1 -1 -1 -1 -1 -1 -1 -1 745 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="25058") -1 -1 -1 547 -1 -1 -1 -1 -1 -1 -1 -1 -1 488 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="25063") -1 -1 -1 739 -1 -1 -1 -1 -1 -1 -1 -1 -1 640 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="25074") -1 -1 -1 651 -1 -1 -1 -1 -1 -1 -1 -1 -1 628 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="25075") -1 -1 -1 808 -1 -1 -1 -1 -1 -1 -1 -1 -1 760 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="25080") -1 -1 -1 891 -1 -1 -1 -1 -1 -1 -1 -1 -1 820 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="25083") -1 -1 -1 632 -1 -1 -1 -1 -1 -1 -1 -1 -1 584 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="25085") -1 -1 -1 664 -1 -1 -1 -1 -1 -1 -1 -1 -1 625 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="25088") -1 -1 -1 855 -1 -1 -1 -1 -1 -1 -1 -1 -1 785 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="25091") -1 -1 -1 820 -1 -1 -1 -1 -1 -1 -1 -1 -1 782 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="25093") -1 -1 -1 656 -1 -1 -1 -1 -1 -1 -1 -1 -1 593 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="26000") -1 -1 -1 701 -1 -1 -1 -1 -1 -1 -1 -1 -1 658 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="26001") -1 -1 -1 686 -1 -1 -1 -1 -1 -1 -1 -1 -1 666 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="26003") -1 -1 -1 664 -1 -1 -1 -1 -1 -1 -1 -1 -1 638 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="26007") -1 -1 -1 327 -1 -1 -1 -1 -1 -1 -1 -1 -1 196 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="26010") -1 -1 -1 786 -1 -1 -1 -1 -1 -1 -1 -1 -1 739 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="26011") -1 -1 -1 712 -1 -1 -1 -1 -1 -1 -1 -1 -1 683 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="26012") -1 -1 -1 625 -1 -1 -1 -1 -1 -1 -1 -1 -1 610 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="26025") -1 -1 -1 613 -1 -1 -1 -1 -1 -1 -1 -1 -1 573 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="26029") -1 -1 -1 625 -1 -1 -1 -1 -1 -1 -1 -1 -1 596 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="26033") -1 -1 -1 765 -1 -1 -1 -1 -1 -1 -1 -1 -1 715 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="26034") -1 -1 -1 745 -1 -1 -1 -1 -1 -1 -1 -1 -1 716 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="26037") -1 -1 -1 432 -1 -1 -1 -1 -1 -1 -1 -1 -1 417 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="26038") -1 -1 -1 721 -1 -1 -1 -1 -1 -1 -1 -1 -1 696 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="26039") -1 -1 -1 611 -1 -1 -1 -1 -1 -1 -1 -1 -1 596 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="26043") -1 -1 -1 717 -1 -1 -1 -1 -1 -1 -1 -1 -1 697 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="26047") -1 -1 -1 511 -1 -1 -1 -1 -1 -1 -1 -1 -1 435 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="26059") -1 -1 -1 682 -1 -1 -1 -1 -1 -1 -1 -1 -1 632 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="26070") -1 -1 -1 646 -1 -1 -1 -1 -1 -1 -1 -1 -1 601 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="26072") -1 -1 -1 537 -1 -1 -1 -1 -1 -1 -1 -1 -1 417 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="26078") -1 -1 -1 580 -1 -1 -1 -1 -1 -1 -1 -1 -1 566 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="26079") -1 -1 -1 755 -1 -1 -1 -1 -1 -1 -1 -1 -1 709 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="26080") -1 -1 -1 689 -1 -1 -1 -1 -1 -1 -1 -1 -1 660 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="26083") -1 -1 -1 729 -1 -1 -1 -1 -1 -1 -1 -1 -1 691 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="26085") -1 -1 -1 761 -1 -1 -1 -1 -1 -1 -1 -1 -1 688 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="26086") -1 -1 -1 484 -1 -1 -1 -1 -1 -1 -1 -1 -1 483 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="26087") -1 -1 -1 607 -1 -1 -1 -1 -1 -1 -1 -1 -1 561 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="26093") -1 -1 -1 677 -1 -1 -1 -1 -1 -1 -1 -1 -1 656 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="26095") -1 -1 -1 879 -1 -1 -1 -1 -1 -1 -1 -1 -1 796 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="26102") -1 -1 -1 826 -1 -1 -1 -1 -1 -1 -1 -1 -1 739 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="26104") -1 -1 -1 705 -1 -1 -1 -1 -1 -1 -1 -1 -1 692 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="26106") -1 -1 -1 681 -1 -1 -1 -1 -1 -1 -1 -1 -1 656 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="26107") -1 -1 -1 709 -1 -1 -1 -1 -1 -1 -1 -1 -1 634 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="26108") -1 -1 -1 547 -1 -1 -1 -1 -1 -1 -1 -1 -1 529 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="26110") -1 -1 -1 725 -1 -1 -1 -1 -1 -1 -1 -1 -1 686 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="27000") -1 -1 -1 631 -1 -1 -1 -1 -1 -1 -1 -1 -1 611 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="27003") -1 -1 -1 562 -1 -1 -1 -1 -1 -1 -1 -1 -1 535 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="27007") -1 -1 -1 826 -1 -1 -1 -1 -1 -1 -1 -1 -1 754 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="27009") -1 -1 -1 736 -1 -1 -1 -1 -1 -1 -1 -1 -1 688 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="27012") -1 -1 -1 631 -1 -1 -1 -1 -1 -1 -1 -1 -1 612 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="27018") -1 -1 -1 606 -1 -1 -1 -1 -1 -1 -1 -1 -1 589 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="27019") -1 -1 -1 740 -1 -1 -1 -1 -1 -1 -1 -1 -1 688 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="27020") -1 -1 -1 456 -1 -1 -1 -1 -1 -1 -1 -1 -1 429 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="27030") -1 -1 -1 750 -1 -1 -1 -1 -1 -1 -1 -1 -1 733 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="27034") -1 -1 -1 713 -1 -1 -1 -1 -1 -1 -1 -1 -1 664 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="27035") -1 -1 -1 601 -1 -1 -1 -1 -1 -1 -1 -1 -1 573 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="27039") -1 -1 -1 499 -1 -1 -1 -1 -1 -1 -1 -1 -1 456 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="27043") -1 -1 -1 991 -1 -1 -1 -1 -1 -1 -1 -1 -1 852 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="27044") -1 -1 -1 816 -1 -1 -1 -1 -1 -1 -1 -1 -1 732 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="27052") -1 -1 -1 628 -1 -1 -1 -1 -1 -1 -1 -1 -1 597 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="27054") -1 -1 -1 687 -1 -1 -1 -1 -1 -1 -1 -1 -1 645 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="27056") -1 -1 -1 783 -1 -1 -1 -1 -1 -1 -1 -1 -1 743 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="27059") -1 -1 -1 631 -1 -1 -1 -1 -1 -1 -1 -1 -1 604 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="27060") -1 -1 -1 625 -1 -1 -1 -1 -1 -1 -1 -1 -1 597 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="27064") -1 -1 -1 767 -1 -1 -1 -1 -1 -1 -1 -1 -1 715 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="27078") -1 -1 -1 689 -1 -1 -1 -1 -1 -1 -1 -1 -1 618 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="27084") -1 -1 -1 605 -1 -1 -1 -1 -1 -1 -1 -1 -1 567 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="27088") -1 -1 -1 572 -1 -1 -1 -1 -1 -1 -1 -1 -1 566 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="27094") -1 -1 -1 560 -1 -1 -1 -1 -1 -1 -1 -1 -1 557 -1 -1 -1 -1 -1 -1
  c(__type="s32" __count="20" mid="27102") -1 -1 -1 729 -1 -1 -1 -1 -1 -1 -1 -1 -1 686 -1 -1 -1 -1 -1 -1